<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<h1>spring.ex01</h1>
	<a href="test/main1.do">스프링 애너테이션 이용해 URL 요청</a>
	
	<h1>spring.ex02</h1>
	<a href="test/loginForm.do">스프링 애너테이션 이용해 로그인 기능 구현</a>
	
	<h1>spring.ex02</h1>
	<a href="test/loginForm.do">스프링 애너테이션 이용해 로그인 기능 구현</a>	
	
	<h1>spring.member</h1>
	<a href="member/listMembers.do">@Autowired 애너테이션 이용해 빈 주입</a>
	<pre>		@Autowired의 특징은 다음과 같다.
			- 기존의 XML 파일에서 각각의 빈을 DI로 주입했던 기능을 코드에서 애너테이션으로 자동으로 수행
			- @Autowired를 사용하면 별도의 setter나 생성자 없이 속성에 빈을 주입할 수 있다.
			
		애너테이션이 적용되는 클래스는 주로 개발자들이 만든 클래스이다.
		그러나 앞의 예제처럼 스프링에서 제공하는 클래스로 생성되는 빈인 SqlSession은 여전히 XML 파일에서 설정하여 생성
	</pre>	

</body>
</html>